.contact {
  & .wrapper {
    margin-top: 21.5rem;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    @include media(tablet) {
      flex-direction: column;
      text-align: center;
      margin-top: 4rem;
    }
  }
  &__heading {
    font-size: 3.2rem;
    line-height: 1.2;
    flex: 1;
  }
  &__social {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;
    &-link:not(:first-child) {
      margin-top: 3.5rem;
    }
  }
}
