.cv {
  margin-top: 8rem;
  @include media(tablet) {
    text-align: center;
    margin-top: 1rem;
  }
  &__heading {
    font-size: 2rem;
    line-height: 3rem;
  }
  &__content {
    margin-top: 5rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    @include media(tablet) {
      flex-direction: column;
      text-align: center;
      margin-left: 0;
    }
    &-container {
      flex: 1;
      text-align: left;
      @include media(tablet) {
        text-align: center;
      }
    }
    &-heading {
      flex: 1;
      font-size: 1.5rem;
    }
    &-name {
      font-size: 1.25rem;
      font-weight: 700;
      @include media(tablet) {
        margin-top: 2rem;
      }
    }
    &-description {
      margin-top: 1rem;
    }
    &-list {
      line-height: 1.3rem;
      margin-top: 0.6rem;
    }
  }
}
