.header {
  max-width: 90rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto;
  @include media(tablet) {
    padding: 0 1rem;
  }
}
