.nav {
  width: 100%;
  max-width: 1280px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  &__list {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    &-element {
      margin-right: 3rem;
    }
  }
}
