.project {
  width: 300px;
  height: 15rem;
  border: 1px solid #e7e7e7;
  padding: 0.5em 1em;
  margin-top: 2em;
  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: transparent;
    &-link {
      display: flex;
      align-items: flex-end;
      margin-top: 1em;
      border: 1px solid #000;
      padding: 0.5rem 2.3rem;
      border-radius: 10px;
    }
  }
}
